<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:D:\Facultate\Anul2Sem2\Ingineria sistemelor soft\DB\BugsApp.db</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping resource="utilizator.hbm.xml"/>
        <mapping resource="bug.hbm.xml"/>
        <mapping resource="proiect.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
